/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/public

# Medusa client and types
.medusa/client/*
.medusa/server/*
.medusa/types/index.d.ts
.medusa/types/query-entry-points.d.ts